[submodule "template-wordpress-default"]
	path = template-wordpress-default
	url = git@github.com:TheFirstSquad/template-wordpress-default.git
[submodule "plugin-wordpress-scaffold-generic-plugin"]
	path = plugin-wordpress-scaffold-generic-plugin
	url = git@github.com:TheFirstSquad/plugin-wordpress-scaffold-generic-plugin.git
